<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bridge.open" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>open</name><js-module name="open" src="www/open.js"><clobbers target="cordova.plugins.open" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="open"><param name="android-package" value="com.bridge.open.open" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/open.java" target-dir="src/com/bridge/open/open" /></platform></plugin>