<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.bridge.open" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>open</name>
    <js-module name="open" src="www/open.js">
        <clobbers target="cordova.plugins.open" />
    </js-module>
</plugin>
